:root {
  --white: #fff;
  --black: #000;
  --powder-blue: #9eb3c2;
  --gunmetal: #242f40;
  --dim-gray: #636564;
  --magenta: #922d50;
  --dark-purple: #2c0e37;
  --federal-blue: #0f084b;
}

*,
html {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--gunmetal);
}

main {
  max-width: 800px;
  padding: 0 2rem;
  margin: 8rem auto;
}

li {
  list-style-type: none;
}

main > h1 {
  margin-bottom: 4rem;
}

main > h1 {
  width: fit-content;

  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}

main > div:first-child {
  display: flex;
  align-items: center;

  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;

  background-color: var(--powder-blue);
}

main > div:first-child > img,
main > div:nth-child(3) > nav > ul > li > a > img,
main > div:nth-child(4) > nav > ul > li > a > img {
  width: 16rem;
  height: 16rem;
  border: 0.125rem solid var(--magenta);
  border-radius: 50%;
  margin-right: 2rem;

  background-color: var(--white);
}

main > div:first-child > div > h2 {
  margin-bottom: 0.75rem;

  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

main > div:first-child > div > p {
  margin-bottom: 0.75rem;
}

main > div:first-child > div > a {
  color: var(--magenta);
}

main > div:nth-child(2),
main > div:nth-child(3),
main > div:nth-child(4) {
  margin-bottom: 4rem;
}

main > div:nth-child(2) > h2,
main > div:nth-child(3) > h2,
main > div:nth-child(4) > h2,
main > h2 {
  margin-bottom: 1.5rem;

  font-size: 2rem;
  font-weight: 700;
  font-style: italic;

  color: var(--white);
}

main > div:nth-child(2) > nav > ul > li,
main > div:nth-child(3) > nav > ul > li,
main > div:nth-child(4) > nav > ul > li {
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;

  background-color: var(--powder-blue);

  transition: transform 300ms ease-in-out;
}

main > div:nth-child(2) > nav > ul > li:hover,
main > div:nth-child(3) > nav > ul > li:hover,
main > div:nth-child(4) > nav > ul > li:hover {
  transform: scale(1.025);
}

main > div:nth-child(2) > nav > ul > li:not(:last-child),
main > div:nth-child(3) > nav > ul > li:not(:last-child),
main > div:nth-child(4) > nav > ul > li:not(:last-child) {
  margin-bottom: 1.5rem;
}

main > div:nth-child(2) > nav > ul > li > a,
main > div:nth-child(3) > nav > ul > li > a,
main > div:nth-child(4) > nav > ul > li > a {
  text-decoration: none;
}

main > div:nth-child(2) > nav > ul > li > *:last-child {
  margin-bottom: 0 !important;
}

main > div:nth-child(2) > nav > ul > li > a > h3 {
  margin-bottom: 0.75rem;

  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;

  color: var(--magenta);
}

main > div:nth-child(2) > nav > ul > li > a > p {
  margin-bottom: 0.75rem;

  color: var(--black);
}

main > div:nth-child(2) > nav > ul > li > a > h4 {
  margin-bottom: 0.75rem;

  font-size: 1rem;
  font-weight: 700;
  font-style: italic;

  color: var(--black);
}

main > div:nth-child(2) > nav > ul > li > a > ul {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0.75rem;
  gap: 0.5rem 1rem;
}

main > div:nth-child(2) > nav > ul > li > a > ul > li {
  padding: 0.5rem 0.75rem;
  border-radius: 50rem;

  background-color: var(--gunmetal);
}

main > div:nth-child(2) > nav > ul > li > a > ul > li > p {
  font-size: 0.75rem;

  color: var(--white);
}

main > div:nth-child(3) > nav > ul > li > a,
main > div:nth-child(4) > nav > ul > li > a {
  display: flex;
  align-items: center;
}

main > div:nth-child(3) > nav > ul > li > a > h3,
main > div:nth-child(4) > nav > ul > li > a > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;

  color: var(--magenta);
}

main > form {
  display: flex;
  flex-direction: column;
}

main > form > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

main > form > label {
  color: var(--white);
}

main > form > input {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;

  font-size: 1rem;

  background-color: var(--powder-blue);
}

main > form > button {
  width: fit-content;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;

  font-size: 1rem;

  background-color: var(--magenta);
  color: var(--white);

  transition: background-color 300ms ease-in-out;
}

main > form > button:hover {
  background-color: var(--dark-purple);
}

@media only screen and (max-width: 767px) {
  main {
    margin: 6rem 0;
  }

  main > div:first-child {
    flex-direction: column;
    align-items: start;
  }

  main > div:first-child > img {
    width: 12rem;
    height: 12rem;

    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  main > div:nth-child(3) > nav > ul > li > a > img,
  main > div:nth-child(4) > nav > ul > li > a > img {
    width: 8rem;
    height: 8rem;
  }
}
